{% extends 'DMFEApp/general.html' %}

{% block content %}

    <!-- page content -->
        <div class="right_col text-left" role="main">
          <h1 class="text-center"> Archivos </h1>
          <h2>Selecciona el archivo con el que deseas trabajar o súbelo si no lo ves en la tabla</h2>
          <form action="{% url 'DMFEApp:UploadFile' %}" method="POST" enctype="multipart/form-data">
            <input type="text" name="fileTitle" placeholder="Enter a title">
            <input type="file" name="uploadedFile">
            {% csrf_token %}
            <input type="submit" value="Upload">
          </form>
          <h2>Archivos disponibles</h2>
          <table class="table table-bordered table-hover table-primary ">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre del archivo</th>
                <th scope="col">Fecha de subida</th>
                <th scope="col">Ruta</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              {% for file in files %}
              <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.title }}</td>
                <td>{{ file.dateTimeOfUpload }}</td>
                <td>{{ file.uploadedFile.url }}</td>
                <td><a class="btn btn-danger" href="{% url 'DMFEApp:DeleteFile' file.id %}"> Eliminar</a></td>
              </tr>
              {% endfor %}
            </tbody>
          
          </table>
                 
        </div>
    <!-- /page content -->

{% endblock %}