{% extends 'DMFEApp/general.html' %}

{% block content %}

    <!-- page content -->
        <div class="right_col text-center" role="main">
          <h1> Bienvenido a DMFE </h1>
          <div class="text-left">
            <h2>
              El objetivo de este proyecto es realizar una aplicación sencilla para los usuarios que requieran
              el uso de algoritmos de minado de datos para el análisis de grandes volúmenes de información
            </h2>
          </div>
        </div>
        
    <!-- /page content -->

{% endblock %}