{% extends 'DMFEApp/general.html' %}
{% block content %}
<div class="right_col text-left" role="main">
    <h1 class="text-center"> PCA Resultados</h1>
    <h2>Con base al archivo seleccionado se generó el siguiente mapa de calor:</h2>
    <article>
      <div class = "container-article" align = "center">
        <img src = "media/graficas/PCA/heatmap.png" width="800" height="400">
      </div>
    </article>
    <h2>Posteriormente, se generó la gráfica de varianza:</h2>
    <article>
      <div class = "container-article" align = "center">
        <img src = "media/graficas/PCA/varianza.png" width="800" height="400">
      </div>
    </article>
    <h2>
      Con dicha gráfica, podemos determinar que el número de componentes principales es 
      {{ numComponentes | safe }} sin contar el 0 que se observa en la gráfica.
    </h2>
    <h2>De modo que, las componentes seleccionadas son: {{ componentesP | safe }}.</h2>
    <h2>Con dichas componentes se consigue una varianza de: {{ varianza | safe }}.</h2>
    <h2>Y como resultado la tabla generada es: </h2>
    <div class="table-responsive">
      <table  class="table table-bordered table-striped table-info">
        <thead>
          {{ columns | safe }}  
        </thead>
        <tbody>
          {{ rows | safe }}
        </tbody>
      </table>
    </div>
</div>

{% endblock %}