{% extends 'DMFEApp/general.html' %}

{% block content %}
<!-- page content -->
<div class="right_col text-left" role="main">
    <h1 class = "text-center">ResultadosEDA</h1>
    <h2>La información obtenida de la tabla es: </h2>
    <div class="table-responsive">
        <table  class="table table-sm table-hover table-bordered table-striped table-dark">
          <thead>
            {{ columnsGr | safe }}  
          </thead>
          <tbody>
            {{ rowsGr | safe }}
          </tbody>
        </table>
    </div>
    <h2> La distribución de tus variables numéricas es:</h2>
    <article>
        <div class = "container-article" align = "center">
          <img src = "media/graficas/EDA/distribucion.png" width="1000" height="800">
        </div>
    </article>
    {% if columnsN %}
    <h2>A continuación se muestran datos como la cantidad de datos, media, desviación estándar y otros datos de interés:</h2>
    <div class="table-responsive">
        <table  class="table table-sm table-hover table-bordered table-striped table-dark">
          <thead>
            {{ columnsN | safe }}  
          </thead>
          <tbody>
            {{ rowsN | safe }}
          </tbody>
        </table>
    </div>
    {% endif %}
    {% if graficasC %}
    <h2>Ahora, se mostrarán las gráficas de caja para detectar datos atípicos de las variables flotantes, para cambiar de imagen da 
        click izquierdo a la derecha o izquierda de la imagen:
    </h2>
    <div id="carouselCajas" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for n in graficasC %}
            {% if n == "1" %}
            <div class="carousel-item active">
                <img class="d-block w-100" src="media/graficas/EDA/caja{{n}}.png" height="800"  alt="Next slide">
            </div>
            {% endif %}
            {% if n != "1" %}
            <div class="carousel-item">
                <img class="d-block w-100" src="media/graficas/EDA/caja{{n}}.png" height="800" alt="Next slide">
            </div>
            {% endif %}
            {% endfor %}
            <a class="carousel-control-prev" href="#carouselCajas" role="button btn-dark" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselCajas" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% endif %}
    {% if columnsO %}
    <h2>Posteriormente, tenemos la descripción de los datos tipo objeto:</h2>
    <div class="table-responsive">
        <table  class="table table-sm table-hover table-bordered table-striped table-dark">
          <thead>
            {{ columnsO | safe }}  
          </thead>
          <tbody>
            {{ rowsO | safe }}
          </tbody>
        </table>
    </div>
    {% endif %}
    {% if graficasB %}
    <h2>Ahora, se mostrarán las gráficas de barrras para estas variables siempre y cuando tengan un máximo de 9 datos únicos:</h2>
    <div id="carouselBarras" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for n in graficasB %}
            {% if n == "1" %}
            <div class="carousel-item active">
                <img class="d-block w-100" src="media/graficas/EDA/grafica{{n}}.png" height="800"  alt="Next slide">
            </div>
            {% endif %}
            {% if n != "1" %}
            <div class="carousel-item">
                <img class="d-block w-100" src="media/graficas/EDA/grafica{{n}}.png" height="800" alt="Next slide">
            </div>
            {% endif %}
            {% endfor %}
            <a class="carousel-control-prev" href="#carouselBarras" role="button btn-dark" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselBarras" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% endif %}
    <h2>Finalmente, la correlación existente entre los datos se muestra en al siguiente gráfica:</h2>
    <article>
        <div class = "container-article" align ="center">
        <img src = "media/graficas/EDA/heatmap.png" width="800" height="400">
        </div>
    </article>
        
</div>
<!-- /page content -->
{% endblock %}